{{getStatus()}}

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quae, accusamus aut et optio ullam eligendi provident eveniet adipisci temporibus amet! Commodi, eum nesciunt magnam nobis doloremque quis obcaecati assumenda?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cumque hic quibusdam architecto eveniet eius repellat repellendus odit iure atque, ipsam quis laborum labore amet odio illo! Consectetur, quibusdam voluptatem.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, adipisci? Id soluta ut a modi repudiandae omnis non atque tempora, illo cupiditate, officia ex, aut laborum. Facere quidem atque temporibus!
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque nostrum ut, ea tempore reiciendis culpa exercitationem omnis provident reprehenderit quod minima odit quia autem dolorum? Dicta sit repellendus fugit minus.
</p>

<br>
<div [innerText]='clicked'></div>
<p>
  <button [disabled]=!status (click)=onButtonClick()>+ Counter </button>

  <button [disabled]=!status (click)=onButtonClick2()>- Counter</button>
</p>

